/* FONT STYLE */
@font-face {
  font-family: "Red Letter";
  src: url("/assets/Tomatoes-O8L8.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Marko+One&display=swap");

/* CSS */
body {
  text-align: center;
  position: relative;
  font-family: "Heebo", sans-serif;
  margin: 0;
  background: url(/assets/background.png);
  background-position: center;
}
h1 {
  font-family: "Red Letter";
  margin: 50px auto 0 auto;
}
h2 {
  font-family: "Marko One", serif;
  color: azure;
  margin: 0 auto 20px auto;
}
form {
  margin: 3px auto;
}
input,
textarea {
  background-color: #ffc7d8;
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
::placeholder {
  color: #393943;
}
.box-1 input {
  width: 207px;
}
.box-2 input {
  width: 207px;
}
.box-3 textarea {
  width: 420px;
  margin-top: 5px;
}
.box-4 input {
  width: 420px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.list .card {
  margin: 50px 10px;
  width: 20%;
}
