body {
  text-align: center;
  position: relative;
  font-family: "Kulim Park", sans-serif;
}
h1 {
  font-family: "Gorditas", cursive;
  margin: 25px auto 15px auto;
}
form {
  margin: 3px auto;
}
.box-1 input {
  width: 207px;
}
.box-2 input {
  width: 207px;
}
.box-3 textarea {
  width: 420px;
}
.box-4 input {
  width: 420px;
}
